@import '../../bootstrap.styl'

.section
  +has('title')
    font-size: 2rem
    font-weight: 600
    text-align: center

    +variant('dark')
      color: $primary_white

    +variant('light')
      color: $primary_black
