// The font size used throughout the application.
$rem_size := 16px

// The primary color.
$primary := #fa0

// The primary light and dark colors.
$primary_light := lighten($primary, 10%)
$primary_dark := darken($primary, 10%)

// Whites and blacks
$black := #000;
$white := #fff;

// The primary whit and primary dark colors.
$primary_white := lighten($primary, 95%);
$primary_black := darken($primary, 95%);

// The opacity variants of whit and black.
$opacity_white_20 := opacity-white(0.2);
$opacity_black_20 := opacity-black(0.2);
