@import '../../bootstrap.styl'

.card
  +has('header')
    padding: 1rem

    +variant('light')
      border-bottom: 1px solid $primary_light

    +variant('dark')
      border-bottom: 1px solid $primary_dark
