@import '../bootstrap.styl'

html, body
  font-size: $rem_size

body
  box-sizing: border-box
  *
    box-sizing: border-box

pre, code
  font-family: 'Fira Code', monospace

*,
*::before,
*::after
  box-sizing: inherit
  font-variant-ligatures: contextual

h1, h2, h3, h4, h5, h6,
span, div, p, small
  font-family: 'Roboto', sans-serif
