doctype html
html
    head
        title Flexbox Grid - A Simple BEM Oriented CSS Framework
        meta(charset='UTF-8')
        meta(name='author', content='Vivid Websolutions')
        meta(name='description', content='Flexbox Grid is a simple to use CSS framework based on bootstrap and does not require tweaking. It is written in LESS, SASS and Stylus according the BEM standard.')
        meta(name='keywords', content='Flexbox, Grid, CSS, Stylus, SASS, Less, BEM, Easy, Bootstrap, Columns, Framework')
        meta(name='robots', content='index, follow')
        meta(name='revisit-after', content='1 month')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')

        // Verification
        meta(name='google-site-verification', content='HqZRm9RZmLMzsBiJDuJIoy4whH7bHdJ_TvLdjQmW0KY')

        // Meta Images
        link(rel='apple-touch-icon', sizes='57x57', href='/metadata/apple-touch-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='/metadata/apple-touch-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='/metadata/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='/metadata/apple-touch-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='/metadata/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='/metadata/apple-touch-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='/metadata/apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='/metadata/apple-touch-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='/metadata/apple-touch-icon-180x180.png')
        link(rel='icon', type='image/png', href='/metadata/metadata/favicon-32x32.png', sizes='32x32')
        link(rel='icon', type='image/png', href='/metadata/favicon-194x194.png', sizes='194x194')
        link(rel='icon', type='image/png', href='/metadata/favicon-96x96.png', sizes='96x96')
        link(rel='icon', type='image/png', href='/metadata/android-chrome-192x192.png', sizes='192x192')
        link(rel='icon', type='image/png', href='/metadata/favicon-16x16.png', sizes='16x16')

        link(rel='manifest', href='/metadata/manifest.json')
        link(rel='mask-icon', href='/metadata/safari-pinned-tab.svg', color='#5bbad5')
        link(rel='shortcut icon', href='/metadata/favicon.ico')
        meta(name='msapplication-TileColor', content='#2d89ef')
        meta(name='msapplication-TileImage', content='/metadata/mstile-144x144.png')
        meta(name='msapplication-config', content='/metadata/browserconfig.xml')
        meta(name='theme-color', content='#ffaa00')
        link(rel='stylesheet', type='text/css', href='/css/app.css')
    body
        include includes/header
        include includes/invidual-sizing
        include includes/auto-resize
        include includes/offset
        include includes/combinding
        include includes/gridception
        include includes/full-width
        include includes/responsive-content
        include includes/flexible-columns
        include includes/grid-align-top
        include includes/grid-align-center
        include includes/grid-align-bottom
        include includes/individual-alignment
        include includes/set-col-first
        include includes/set-col-last
        include includes/reverse
        include includes/no-gutter
        include includes/text-alignment
        include includes/footer
    script(src='/js/app.js')
