@import '../bootstrap.styl'

.code
  display: block
  flex: 0 0 100%
  line-height: 1.5rem
  margin-top: 1rem
  overflow: auto
  white-space: pre
  word-wrap: normal

  .token
    font-family: 'Fira Code', monospace
