/*
 * Name:        Flexbox Grid
 * Description: The Flexbox Grid website
 * Author:      Vivid Websolutions <info@vivid-websolutions.nl>
 * Version:     0.0.1
 * Tags:        Flexbox, Grid
 *
 * -----------------------------------------------------------------
 *
 * Table of Contents:
 *  1. Config
 *    1.1 Functions
 *    1.2 Mixins
 *    1.3 Variables
 *  2. Vendor
 *    2.1 Normalize
 *    2.2 Flexbox Grid Stylus
 *  3. Base
 *    3.1 Fonts
 *    3.2 Main
 */

/*
 *  1. Config
 */
@require 'config/*'

/*
 *  2. Vendor
 */
@import "~normalize.css"

/*
 *  3. Base
 */
@require 'base/*'
