/*
 * Name:        Flexbox Grid
 * Description: The Flexbox Grid website
 * Author:      Vivid Websolutions <info@vivid-websolutions.nl>
 * Version:     0.0.1
 * Tags:        Flexbox, Grid
 *
 * -----------------------------------------------------------------
 *
 * Table of Contents:
 *  1. Config
 *    1.1 Functions
 *    1.2 Mixins
 *    1.3 Variables
 *  2. Vendor
 *    2.1 Normalize
 *  3. Base
 *    3.1 Fonts
 *    3.2 Main
 */

/*
 *  1. Config
 *    1.1 Variables
 *    1.2 Mixins
 *    1.3 Functions
 */
@require './settings/_variables.styl'
@require './mixins/_bem.styl'
@require './mixins/_transition.styl'
@require './functions/_opacity-background.styl'
@require './functions/_opacity-black.styl'
@require './functions/_opacity-white.styl'

/*
 *  2. Vendor
 *    2.1 Normalize
 */
@import '~normalize.css';

/*
 *  3. Base
 */
@require './base/_fonts.styl'
@require './base/_main.styl'
